<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <ArenaPl_Magento>
            <version>0.0.1</version>
        </ArenaPl_Magento>
    </modules>
    <global>
        <models>
            <arenapl_magento>
                <class>ArenaPl_Magento_Model</class>
                <resourceModel>arenapl_magento_resource</resourceModel>
            </arenapl_magento>
            <arenapl_magento_resource>
                <class>ArenaPl_Magento_Model_Resource</class>
            </arenapl_magento_resource>
        </models>
        <helpers>
            <arenapl_magento>
                <class>ArenaPl_Magento_Helper</class>
            </arenapl_magento>
        </helpers>
        <blocks>
            <arenapl_magento>
                <class>ArenaPl_Magento_Block</class>
            </arenapl_magento>
        </blocks>
        <events>
            <controller_front_init_before>
                <observers>
                    <arenapl_magento_autoloadobserver>
                        <type>singleton</type>
                        <class>ArenaPl_Magento_AutoloadObserver</class>
                        <method>injectComposerAutoloader</method>
                    </arenapl_magento_autoloadobserver>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <arenapl before="Mage_Adminhtml">ArenaPl_Magento_Adminhtml</arenapl>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <arenapl>
                                            <title>Ustawienia Arena.pl</title>
                                        </arenapl>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <arenapl_magento>
                    <file>arenapl.xml</file>
                </arenapl_magento>
            </updates>
        </layout>
    </adminhtml>
</config>
