<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <ArenaPl_Magento>
            <version>0.0.2</version>
        </ArenaPl_Magento>
    </modules>
    <global>
        <models>
            <arenapl_magento>
                <class>ArenaPl_Magento_Model</class>
                <resourceModel>arenapl_magento_resource</resourceModel>
            </arenapl_magento>
            <arenapl_magento_resource>
                <class>ArenaPl_Magento_Model_Resource</class>
            </arenapl_magento_resource>
        </models>
        <helpers>
            <arenapl_magento>
                <class>ArenaPl_Magento_Helper</class>
            </arenapl_magento>
        </helpers>
        <resources>
            <arenapl_magento_setup>
                <setup>
                    <module>ArenaPl_Magento</module>
                    <class>ArenaPl_Magento_Model_Resource_Setup</class>
                </setup>
            </arenapl_magento_setup>
        </resources>
        <blocks>
            <arenapl_magento>
                <class>ArenaPl_Magento_Block</class>
            </arenapl_magento>
        </blocks>
        <events>
            <controller_front_init_before>
                <observers>
                    <arenapl_magento_observer_autoload>
                        <type>singleton</type>
                        <class>ArenaPl_Magento_Observer_Autoload</class>
                        <method>injectComposerAutoloader</method>
                    </arenapl_magento_observer_autoload>
                </observers>
            </controller_front_init_before>
            <catalog_category_save_commit_after>
                <observers>
                    <arenapl_magento_observer_category>
                        <type>singleton</type>
                        <class>ArenaPl_Magento_Observer_Category</class>
                        <method>afterCategorySave</method>
                    </arenapl_magento_observer_category>
                </observers>
            </catalog_category_save_commit_after>
            <catalog_product_save_commit_after>
                <observers>
                    <arenapl_magento_observer_category>
                        <type>singleton</type>
                        <class>ArenaPl_Magento_Observer_Product</class>
                        <method>afterProductSave</method>
                    </arenapl_magento_observer_category>
                </observers>
            </catalog_product_save_commit_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <arenapl before="Mage_Adminhtml">ArenaPl_Magento_Adminhtml</arenapl>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <arenapl>
                                            <title>Ustawienia Arena.pl</title>
                                        </arenapl>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <arenapl_magento>
                    <file>arenapl.xml</file>
                </arenapl_magento>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <arenapl>
            <notifications>
                <notify_unmapped_category>1</notify_unmapped_category>
            </notifications>
        </arenapl>
    </default>
</config>
